*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: hsl(209, 100%, 50%);
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}
.title{
    color: rgb(0, 0, 0);
    font-size: 26px;
    padding: 12px;
    text-shadow: 1px 2px 3px rgb(255, 255, 255);
    border-bottom: 4px solid rgb(255, 255, 255);
}
#heading{
    color: red;
    font-size: 20px;
    font-weight: 700;
    margin: 30px;
    text-shadow: 1px 2px 3px rgb(255, 255, 255);
}
#capture{
    background-color: #dadada;
    font-size: 40px;
    font-weight: 600;
    margin: 20px;
    border-radius: 6px;
    text-decoration: line-through;
    user-select: none;
}
.input input{
    font-size: 22px;
    outline: 0;
    padding: 10px;
    width: 50vw;
    border-radius: 6px;
    border: 1px solid black;
}
.btn button{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    height: 40px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid black;
}
#check{
    width: 30%;
    background-color: green;
}
#change{
    width: 60%;
    background-color: red;
}