*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #bcbcbc;
}
.login-box{
    background-color: white;
    width: 300px;
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.title{
    text-align: center;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
}
.inner-box{
    margin-top: 12px;
    /* background-color: red; */
}
.inner-box label{
    font-size: 14px;
    margin: 4px;
}
.inner-box input{
    width: 100%;
    height: 30px;
    padding: 10px;
    margin:  6px 0px;
    outline: 0;
    border: 1px solid black;
    border-radius: 4px;
}
.forget a{
    font-size: 12px;
}
.btn button{
    background-color: rgb(62, 62, 255);
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    margin: 12px 0;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    border: 0;
}
.signup{
    text-align: center;
    font-size: 12px;
}